@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }

}
@media screen and (max-width: 1400px){
    #profile{
        height: auto;
        margin-bottom: auto;
    }

    .about-containers{
        flex-wrap: wrap;
    }
    #experience,.experience-details-container{
        margin-top: 2rem;

    }
    #profile,
    .section-container{
        display: block;
    }
    section,.section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto;
    }
    .about-containers{
        margin-top: 0;
    }
}
@media screen and (max-width: 600px){
    #contact,
    footer{
        height: 40vh;
        width: auto;
    }

    #profile{
        height: auto;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
        margin: auto auto;
    }
    .contact-info-container{
        margin: 0;

    }
    .contact-info-container p,.nav-links li a{
        font-size: 1rem;

    }
    
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__pic-p2{
        font-size: 1.25rem;
    }
    .text-container{
        text-align: justify;
    }
}


@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px); opacity: 0; }
  }
@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-20px);  opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px); opacity: 0; }
  }
@keyframes fade_move_down {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px); opacity: 0; }
  }





